<div class="fields">
  <p>
    <!-- See application_helper.rb for some nasty shit. -->
    <%= f.label(:email, "Email") %>
    <%= f.text_field :email %>
    <%= remove_child_link "remove", f %>
  </p>
</div>