<div class="fields">
  <p>
    <!-- See application_helper.rb for some nasty shit. -->
    <%= f.label(:telephone, "Telephone") %>
    <%= f.text_field :telephone %>
    <%= remove_child_link "remove", f %>
  </p>
</div>