<%- content_for(:head) do -%>
  <%= javascript_include_tag :defaults -%>
<%- end -%>

<%- content_for :actions  do -%>
  <p><%= link_to 'Voltar', pages_path %></p>
<%- end -%>

<%- title("Criar página") -%>
<%= render :partial => 'form' %>
