<%- title("A Tuna actualmente") -%>
<% content_for :actions do |a| %>
  <p><%= link_to 'Criar membro', new_member_path %></p>
<% end %>

<% @hierarchies.each do |h| %>
  <h2><%=h h.description.pluralize %></h2>

  <ul>
  <% h.ordered_members.each do |m| %>
    <li><a href="<%= member_path(m) %>"><%=h m.nickname %></a></li>
  <% end %>
  </ul>

<% end %>
