<%- title("A TEUP") -%>
<% content_for :actions do |a| %>
  <p><%= link_to 'New member', new_member_path %></p>
<% end %>

<% @hierarchies.each do |h| %>
  <h2><%=h h.description.pluralize %></h2>

  <% break if h.description == "Aprendiz" %>

  <ul>
  <% h.ordered_members.each do |m| %>
    <li><%=h m.nickname %></li>
  <% end %>
  </ul>
<% end %>
