<%- content_for(:head) do -%>
  <%= javascript_include_tag :defaults -%>
<%- end -%>

<%- content_for :actions  do -%>
  <p><%= link_to 'Back', members_path %></p>
<%- end -%>


<%- title("New member") -%>

<%= render :partial => 'form' %>
